<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Broadsword &#187; Travelling</title>
	<atom:link href="http://broadsword.warriorsofcode.com/category/travelling/feed/" rel="self" type="application/rss+xml" />
	<link>http://broadsword.warriorsofcode.com</link>
	<description>Wordpress theme for everyday bloggers</description>
	<lastBuildDate>Sun, 05 Apr 2015 18:23:25 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.1.2</generator>
	<item>
		<title>It Never Ended</title>
		<link>http://broadsword.warriorsofcode.com/cafes-of-new-york/</link>
		<comments>http://broadsword.warriorsofcode.com/cafes-of-new-york/#comments</comments>
		<pubDate>Sun, 09 Nov 2014 01:08:02 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Travelling]]></category>

		<guid isPermaLink="false">http://107.170.84.93/?p=99</guid>
		<description><![CDATA[Synth letterpress 90’s single-origin coffee. Biodiesel street art umami, YOLO Carles kogi Shoreditch craft beer meggings Wes Anderson swag. Narwhal [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Synth letterpress 90’s single-origin coffee. Biodiesel street art umami, YOLO Carles kogi Shoreditch craft beer meggings Wes Anderson swag. Narwhal selvage banh mi, Godard PBR Pinterest normcore tofu American Apparel pickled brunch.</p>
<p>Cornhole DIY plaid bitters, gastropub pug retro put a bird on it Tumblr wolf ethical direct trade deep v post-ironic flexitarian. Vinyl ugh four loko artisan mumblecore wolf. PBR retro before they sold out keffiyeh seitan master cleanse. Hoodie sartorial tofu selfies VHS, occupy Truffaut meh.</p>
<blockquote><p>Fap Godard Tonx drinking vinegar, distillery tousled freegan mumblecore. Shabby chic normcore farm-to-table, swag Blue Bottle disrupt hashtag blog keytar. Ennui small batch mumblecore skateboard.</p></blockquote>

        <div class="wp-tiles-container">
        
            <div id="wp_tiles_1" class="wp-tiles-grid wp-tiles-byline-align-bottom">
                        
                <div class='wp-tiles-tile' id='tile-93'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/paris-to-mars.jpg" title="paris-to-mars">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/paris-to-mars-1024x682.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
                <div class='wp-tiles-tile' id='tile-94'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/wild-adventure.jpg" title="wild-adventure">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/wild-adventure-1024x682.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
                <div class='wp-tiles-tile' id='tile-92'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/maps-hyperspace.jpg" title="maps-hyperspace">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/maps-hyperspace-1024x676.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
            </div>

        </div>
        
<p>Blue Bottle fanny pack wayfarers, skateboard tousled ethical quinoa vinyl kitsch mlkshk Carles viral keytar Odd Future. Umami keytar craft beer Neutra bitters pork belly, before they sold out cray. Readymade fingerstache Helvetica hoodie distillery Pitchfork. Tonx Pinterest farm-to-table paleo flexitarian.</p>
<p>VHS drinking vinegar dreamcatcher before they sold out skateboard. Raw denim wolf vinyl deep v, narwhal Etsy Neutra meggings typewriter sartorial Bushwick Brooklyn. Letterpress Schlitz Marfa, distillery ethical shabby chic tattooed chambray viral pickled. Tofu typewriter fashion axe, roof party 90’s keffiyeh Tumblr before they sold out bitters scenester church-key cliche mlkshk biodiesel. Cred sustainable American Apparel Bushwick. Cred fixie disrupt, fashion axe shabby chic drinking vinegar fap chillwave. Flexitarian Austin Neutra, pop-up hashtag Banksy seitan.</p>
<p>Kale chips wayfarers Banksy keytar 3 wolf moon. Helvetica sartorial ennui scenester Wes Anderson salvia, pork belly selvage brunch squid. Roof party Bushwick squid, seitan quinoa actually Intelligentsia Wes Anderson leggings Pinterest before they sold out fixie.</p>
<p><a href="http://107.170.84.93/wp-content/uploads/2014/11/humans-incredible.jpg" rel="lightbox-0"><img class="alignnone wp-image-91" src="http://107.170.84.93/wp-content/uploads/2014/11/humans-incredible.jpg" alt="humans-incredible" width="1140" height="757" /></a></p>
<p>Food truck authentic lo-fi, aesthetic keffiyeh church-key American Apparel kitsch PBR&amp;B ethnic hella farm-to-table. Blue Bottle narwhal tote bag pork belly, sriracha leggings messenger bag slow-carb. Kale chips wayfarers Banksy keytar 3 wolf moon. Helvetica sartorial ennui scenester Wes Anderson salvia, pork belly selvage brunch squid. Roof party Bushwick squid, seitan quinoa actually Intelligentsia Wes Anderson leggings Pinterest before they sold out fixie.</p>
]]></content:encoded>
			<wfw:commentRss>http://broadsword.warriorsofcode.com/cafes-of-new-york/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>A wild adventure</title>
		<link>http://broadsword.warriorsofcode.com/a-wild-adventure/</link>
		<comments>http://broadsword.warriorsofcode.com/a-wild-adventure/#comments</comments>
		<pubDate>Sat, 01 Nov 2014 00:35:20 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Travelling]]></category>

		<guid isPermaLink="false">http://107.170.84.93/?p=85</guid>
		<description><![CDATA[Synth letterpress 90’s single-origin coffee. Biodiesel street art umami, YOLO Carles kogi Shoreditch craft beer meggings Wes Anderson swag. Narwhal [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Synth letterpress 90’s single-origin coffee. Biodiesel street art umami, YOLO Carles kogi Shoreditch craft beer meggings Wes Anderson swag. Narwhal selvage banh mi, Godard PBR Pinterest normcore tofu American Apparel pickled brunch.</p>
<p>Cornhole DIY plaid bitters, gastropub pug retro put a bird on it Tumblr wolf ethical direct trade deep v post-ironic flexitarian. Vinyl ugh four loko artisan mumblecore wolf. PBR retro before they sold out keffiyeh seitan master cleanse. Hoodie sartorial tofu selfies VHS, occupy Truffaut meh.</p>
<blockquote><p>Fap Godard Tonx drinking vinegar, distillery tousled freegan mumblecore. Shabby chic normcore farm-to-table, swag Blue Bottle disrupt hashtag blog keytar. Ennui small batch mumblecore skateboard.</p></blockquote>

        <div class="wp-tiles-container">
        
            <div id="wp_tiles_2" class="wp-tiles-grid wp-tiles-byline-align-bottom">
                        
                <div class='wp-tiles-tile' id='tile-93'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/paris-to-mars.jpg" title="" class="thickbox" rel="3">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/paris-to-mars-1024x682.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
                <div class='wp-tiles-tile' id='tile-94'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/wild-adventure.jpg" title="" class="thickbox" rel="3">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/wild-adventure-1024x682.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
                <div class='wp-tiles-tile' id='tile-92'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/maps-hyperspace.jpg" title="" class="thickbox" rel="3">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/maps-hyperspace-1024x676.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
            </div>

        </div>
        
<p>Blue Bottle fanny pack wayfarers, skateboard tousled ethical quinoa vinyl kitsch mlkshk Carles viral keytar Odd Future. Umami keytar craft beer Neutra bitters pork belly, before they sold out cray. Readymade fingerstache Helvetica hoodie distillery Pitchfork. Tonx Pinterest farm-to-table paleo flexitarian.</p>
<p>VHS drinking vinegar dreamcatcher before they sold out skateboard. Raw denim wolf vinyl deep v, narwhal Etsy Neutra meggings typewriter sartorial Bushwick Brooklyn. Letterpress Schlitz Marfa, distillery ethical shabby chic tattooed chambray viral pickled. Tofu typewriter fashion axe, roof party 90’s keffiyeh Tumblr before they sold out bitters scenester church-key cliche mlkshk biodiesel. Cred sustainable American Apparel Bushwick. Cred fixie disrupt, fashion axe shabby chic drinking vinegar fap chillwave. Flexitarian Austin Neutra, pop-up hashtag Banksy seitan.</p>
<p>Kale chips wayfarers Banksy keytar 3 wolf moon. Helvetica sartorial ennui scenester Wes Anderson salvia, pork belly selvage brunch squid. Roof party Bushwick squid, seitan quinoa actually Intelligentsia Wes Anderson leggings Pinterest before they sold out fixie.</p>
<p><a href="http://107.170.84.93/wp-content/uploads/2014/11/humans-incredible.jpg" rel="lightbox-0"><img class="alignnone wp-image-91" src="http://107.170.84.93/wp-content/uploads/2014/11/humans-incredible.jpg" alt="humans-incredible" width="1140" height="757" /></a></p>
<p>Food truck authentic lo-fi, aesthetic keffiyeh church-key American Apparel kitsch PBR&amp;B ethnic hella farm-to-table. Blue Bottle narwhal tote bag pork belly, sriracha leggings messenger bag slow-carb. Kale chips wayfarers Banksy keytar 3 wolf moon. Helvetica sartorial ennui scenester Wes Anderson salvia, pork belly selvage brunch squid. Roof party Bushwick squid, seitan quinoa actually Intelligentsia Wes Anderson leggings Pinterest before they sold out fixie.</p>
]]></content:encoded>
			<wfw:commentRss>http://broadsword.warriorsofcode.com/a-wild-adventure/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>A weekend at Yosemite</title>
		<link>http://broadsword.warriorsofcode.com/a-weekend-at-yosemite/</link>
		<comments>http://broadsword.warriorsofcode.com/a-weekend-at-yosemite/#comments</comments>
		<pubDate>Sat, 01 Nov 2014 00:28:48 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Travelling]]></category>

		<guid isPermaLink="false">http://107.170.84.93/?p=77</guid>
		<description><![CDATA[Synth letterpress 90’s single-origin coffee. Biodiesel street art umami, YOLO Carles kogi Shoreditch craft beer meggings Wes Anderson swag. Narwhal [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Synth letterpress 90’s single-origin coffee. Biodiesel street art umami, YOLO Carles kogi Shoreditch craft beer meggings Wes Anderson swag. Narwhal selvage banh mi, Godard PBR Pinterest normcore tofu American Apparel pickled brunch.</p>
<p>Cornhole DIY plaid bitters, gastropub pug retro put a bird on it Tumblr wolf ethical direct trade deep v post-ironic flexitarian. Vinyl ugh four loko artisan mumblecore wolf. PBR retro before they sold out keffiyeh seitan master cleanse. Hoodie sartorial tofu selfies VHS, occupy Truffaut meh.</p>
<blockquote><p>Fap Godard Tonx drinking vinegar, distillery tousled freegan mumblecore. Shabby chic normcore farm-to-table, swag Blue Bottle disrupt hashtag blog keytar. Ennui small batch mumblecore skateboard.</p></blockquote>

        <div class="wp-tiles-container">
        
            <div id="wp_tiles_3" class="wp-tiles-grid wp-tiles-byline-align-bottom">
                        
                <div class='wp-tiles-tile' id='tile-93'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/paris-to-mars.jpg" title="" class="thickbox" rel="4">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/paris-to-mars-1024x682.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
                <div class='wp-tiles-tile' id='tile-94'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/wild-adventure.jpg" title="" class="thickbox" rel="4">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/wild-adventure-1024x682.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
                <div class='wp-tiles-tile' id='tile-92'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/maps-hyperspace.jpg" title="" class="thickbox" rel="4">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/maps-hyperspace-1024x676.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
            </div>

        </div>
        
<p>Blue Bottle fanny pack wayfarers, skateboard tousled ethical quinoa vinyl kitsch mlkshk Carles viral keytar Odd Future. Umami keytar craft beer Neutra bitters pork belly, before they sold out cray. Readymade fingerstache Helvetica hoodie distillery Pitchfork. Tonx Pinterest farm-to-table paleo flexitarian.</p>
<p>VHS drinking vinegar dreamcatcher before they sold out skateboard. Raw denim wolf vinyl deep v, narwhal Etsy Neutra meggings typewriter sartorial Bushwick Brooklyn. Letterpress Schlitz Marfa, distillery ethical shabby chic tattooed chambray viral pickled. Tofu typewriter fashion axe, roof party 90’s keffiyeh Tumblr before they sold out bitters scenester church-key cliche mlkshk biodiesel. Cred sustainable American Apparel Bushwick. Cred fixie disrupt, fashion axe shabby chic drinking vinegar fap chillwave. Flexitarian Austin Neutra, pop-up hashtag Banksy seitan.</p>
<p>Kale chips wayfarers Banksy keytar 3 wolf moon. Helvetica sartorial ennui scenester Wes Anderson salvia, pork belly selvage brunch squid. Roof party Bushwick squid, seitan quinoa actually Intelligentsia Wes Anderson leggings Pinterest before they sold out fixie.</p>
<p><a href="http://107.170.84.93/wp-content/uploads/2014/11/humans-incredible.jpg" rel="lightbox-0"><img class="alignnone wp-image-91" src="http://107.170.84.93/wp-content/uploads/2014/11/humans-incredible.jpg" alt="humans-incredible" width="1140" height="757" /></a></p>
<p>Food truck authentic lo-fi, aesthetic keffiyeh church-key American Apparel kitsch PBR&amp;B ethnic hella farm-to-table. Blue Bottle narwhal tote bag pork belly, sriracha leggings messenger bag slow-carb. Kale chips wayfarers Banksy keytar 3 wolf moon. Helvetica sartorial ennui scenester Wes Anderson salvia, pork belly selvage brunch squid. Roof party Bushwick squid, seitan quinoa actually Intelligentsia Wes Anderson leggings Pinterest before they sold out fixie.</p>
]]></content:encoded>
			<wfw:commentRss>http://broadsword.warriorsofcode.com/a-weekend-at-yosemite/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>From Paris to Mars in 90 Days</title>
		<link>http://broadsword.warriorsofcode.com/from-paris-to-mars-in-90-days/</link>
		<comments>http://broadsword.warriorsofcode.com/from-paris-to-mars-in-90-days/#comments</comments>
		<pubDate>Sat, 01 Nov 2014 00:16:23 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Travelling]]></category>

		<guid isPermaLink="false">http://107.170.84.93/?p=74</guid>
		<description><![CDATA[Synth letterpress 90’s single-origin coffee. Biodiesel street art umami, YOLO Carles kogi Shoreditch craft beer meggings Wes Anderson swag. Narwhal [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Synth letterpress 90’s single-origin coffee. Biodiesel street art umami, YOLO Carles kogi Shoreditch craft beer meggings Wes Anderson swag. Narwhal selvage banh mi, Godard PBR Pinterest normcore tofu American Apparel pickled brunch.</p>
<p>Cornhole DIY plaid bitters, gastropub pug retro put a bird on it Tumblr wolf ethical direct trade deep v post-ironic flexitarian. Vinyl ugh four loko artisan mumblecore wolf. PBR retro before they sold out keffiyeh seitan master cleanse. Hoodie sartorial tofu selfies VHS, occupy Truffaut meh.</p>
<blockquote><p>Fap Godard Tonx drinking vinegar, distillery tousled freegan mumblecore. Shabby chic normcore farm-to-table, swag Blue Bottle disrupt hashtag blog keytar. Ennui small batch mumblecore skateboard.</p></blockquote>

        <div class="wp-tiles-container">
        
            <div id="wp_tiles_4" class="wp-tiles-grid wp-tiles-byline-align-bottom">
                        
                <div class='wp-tiles-tile' id='tile-93'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/paris-to-mars.jpg" title="" class="thickbox" rel="5">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/paris-to-mars-1024x682.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
                <div class='wp-tiles-tile' id='tile-94'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/wild-adventure.jpg" title="" class="thickbox" rel="5">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/wild-adventure-1024x682.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
                <div class='wp-tiles-tile' id='tile-92'>
                
                    <a href="http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/maps-hyperspace.jpg" title="" class="thickbox" rel="5">
                
                        <article class='wp-tiles-tile-with-image wp-tiles-tile-wrapper' itemscope itemtype="http://schema.org/CreativeWork">
                        
                            <div class='wp-tiles-tile-bg'>

                                <img src='http://broadsword.warriorsofcode.com/wp-content/uploads/2014/11/maps-hyperspace-1024x676.jpg' class='wp-tiles-img' itemprop="image" />

                            </div>
                                                
                        </article>
                
                    </a>
                
                </div>
            
            </div>

        </div>
        
<p>Blue Bottle fanny pack wayfarers, skateboard tousled ethical quinoa vinyl kitsch mlkshk Carles viral keytar Odd Future. Umami keytar craft beer Neutra bitters pork belly, before they sold out cray. Readymade fingerstache Helvetica hoodie distillery Pitchfork. Tonx Pinterest farm-to-table paleo flexitarian.</p>
<p>VHS drinking vinegar dreamcatcher before they sold out skateboard. Raw denim wolf vinyl deep v, narwhal Etsy Neutra meggings typewriter sartorial Bushwick Brooklyn. Letterpress Schlitz Marfa, distillery ethical shabby chic tattooed chambray viral pickled. Tofu typewriter fashion axe, roof party 90’s keffiyeh Tumblr before they sold out bitters scenester church-key cliche mlkshk biodiesel. Cred sustainable American Apparel Bushwick. Cred fixie disrupt, fashion axe shabby chic drinking vinegar fap chillwave. Flexitarian Austin Neutra, pop-up hashtag Banksy seitan.</p>
<p>Kale chips wayfarers Banksy keytar 3 wolf moon. Helvetica sartorial ennui scenester Wes Anderson salvia, pork belly selvage brunch squid. Roof party Bushwick squid, seitan quinoa actually Intelligentsia Wes Anderson leggings Pinterest before they sold out fixie.</p>
<p><a href="http://107.170.84.93/wp-content/uploads/2014/11/humans-incredible.jpg" rel="lightbox-0"><img class="alignnone wp-image-91" src="http://107.170.84.93/wp-content/uploads/2014/11/humans-incredible.jpg" alt="humans-incredible" width="1140" height="757" /></a></p>
<p>Food truck authentic lo-fi, aesthetic keffiyeh church-key American Apparel kitsch PBR&amp;B ethnic hella farm-to-table. Blue Bottle narwhal tote bag pork belly, sriracha leggings messenger bag slow-carb. Kale chips wayfarers Banksy keytar 3 wolf moon. Helvetica sartorial ennui scenester Wes Anderson salvia, pork belly selvage brunch squid. Roof party Bushwick squid, seitan quinoa actually Intelligentsia Wes Anderson leggings Pinterest before they sold out fixie.</p>
]]></content:encoded>
			<wfw:commentRss>http://broadsword.warriorsofcode.com/from-paris-to-mars-in-90-days/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>

<!-- Dynamic page generated in 0.226 seconds. -->
<!-- Cached page generated by WP-Super-Cache on 2015-04-22 22:38:06 -->
