/**
 * Demo-specific css settings
 */

.really_simple_twitter_widget {
	list-style-type: none;
	padding-left: 0;
}

.rstw_comma {
	display: none;
}

.twitter-timestamp {
	display: block;
	font-family: 'Vollkorn', serif;
	opacity: 0.4;
	font-size: 14px;
	line-height: 1em;
	padding-top: 32px;
	text-transform: uppercase;
}

.zframe-flickr-wrap-ltr img {
	margin-right: 5px;
}

.zframe-flickr-wrap-ltr img, .zframe-flickr-wrap-rtl img {
	margin-bottom: 5px;
}